@mixin transitions($time){
-webkit-transition: all $time;
   -moz-transition: all $time;
	-ms-transition: all $time;
	 -o-transition: all $time;
		transition: all $time;
}

@mixin transitions-layer(){
/*transform*/
-webkit-transform:translateZ(0);
   -moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	 -o-transform:translateZ(0);
		transform:translateZ(0);
}

@mixin clip-tri(){

	-webkit-clip-path:	polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
	-ms-clip-path:		polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
	clip-path: url(../svg/clip-tri.svg#svgClip);
	clip-path:			polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
}

@mixin clip-gem(){

	-webkit-clip-path:	polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
		-ms-clip-path:	polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
			clip-path: url(../svg/clip-gem-full.svg#svgClip);
		    clip-path:	polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
}

@mixin clip-gem-full(){

	-webkit-clip-path:	polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
		-ms-clip-path:	polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
	clip-path: url(../svg/clip-gem-full.svg#svgClip);
		    clip-path:	polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
}


@mixin clip-tri-inverted(){

	-webkit-clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
	-ms-clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
	clip-path: url(../svg/clip-tri-inverted.svg#svgClip);
	clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
}

@mixin clip-gem-inverted(){
	-webkit-clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
		-ms-clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
	clip-path: url(../svg/clip-gem-inverted.svg#svgClip);
			clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
}

@mixin clip-tri-unchanging(){

	-webkit-clip-path:polygon(0% 93.301270189%, 100% 93.301270189%, 50% 6.69872981%);
	-ms-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270%);
	clip-path: url(../svg/clip-tri-full.svg#svgClip);
	clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270);

}

@mixin clip-tri-unchanging-inverted(){

	-webkit-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270189%);
	-ms-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270%);
	clip-path: url(../svg/clip-tri-full-inverted.svg#svgClip);
	clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270);
}

@mixin columns($n){
		-webkit-column-count: $n; /* Chrome, Safari, Opera */
		-moz-column-count: $n; /* Firefox */
		column-count: $n;
		
}

$color-transwhite: rgba(255, 255, 255, 0.2);

$time-fast: 500ms;
$time-slow: 2000ms;

$textcolor: rgba(255,255,255,0.85);


$masklayer: 1;
$contentlayer: 3;
$loadlayer: 100;


$smallestwidth: 320px;


$barnav-height:120px;