.pace {
  height: 80px;
  width: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 100;
  pointer-events: none;
  -webkit-clip-path: polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
  -ms-clip-path: polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
  clip-path: url(../svg/clip-gem-full.svg#svgClip);
  clip-path: polygon(32.1% 13.6%, 50% 0%, 66.9% 13.4%, 82.9% 80.1%, 50% 100%, 16.2% 80.1%);
  /*transform*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 1; }

.pace-progress {
  height: 100%;
  position: relative;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  background-color: #cccccc;
  z-index: 102; }
  .pace-progress:after, .pace-progress:before {
    position: absolute;
    display: block;
    font-family: Raleway;
    content: attr(data-progress-text);
    text-align: center;
    top: 60%;
    font-size: 14px;
    margin-top: -3px;
    left: 2px;
    width: 80px; }
  .pace-progress:after {
    color: #888888;
    z-index: 103;
    overflow: hidden; }

.pace-inactive {
  opacity: 0; }

body.intro #rut, body.pace-running #rut {
  height: 100%; }
  body.intro #rut #titlehex img, body.intro #rut #titlehex p, body.pace-running #rut #titlehex img, body.pace-running #rut #titlehex p {
    opacity: 0; }
  body.intro #rut hr, body.pace-running #rut hr {
    width: 0; }
  body.intro #rut #barnav, body.pace-running #rut #barnav {
    opacity: 0;
    bottom: -120px;
    zoom: 110%; }
body.intro #folds:before, body.pace-running #folds:before {
  background-color: #111111; }

#folds:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(17, 17, 17, 0);
  pointer-events: none;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
