@import 'common';

$dim-progress:100px;

$light: #CCCCCC;
$dark: #111111;

.pace{
	height:$dim-progress;
	width:$dim-progress;
	position:fixed;
	top:50%;
	left:50%;
	margin-left: - $dim-progress/2;
	margin-top: - $dim-progress/2;
	z-index: $loadlayer;

	pointer-events:none;
	@include clip-gem-full();
	@include transitions-layer;
	@include transitions($time-fast);

	opacity:1;
}

.pace-progress{
	height: 100%;

	position:relative;
	@include transitions($time-fast);

	background-color: $light;


	z-index:$loadlayer+2;

	&:after, &:before {
		position:absolute;
		display:block;
		font-family:Raleway;
		content: attr(data-progress-text);
		text-align:center;
		top:60%;
		font-size:14px;
		margin-top:-3px;
		left:2px;

		width:100px;
	}

	&:after{
		color:#888888;
		z-index:$loadlayer+3;
		overflow:hidden;
	}
}

.pace-inactive, {
	opacity:0;
}

body.intro, body.pace-running{
	#rut{
		height:100%;

		#titlehex{
			img, p{
				opacity:0;
			}
		}

		hr{
			width:0;
		}

		#barnav{
			opacity:0;
			bottom: -$barnav-height;
			zoom:110%;		}
	}


	#folds:before{
		background-color:$dark;
	}
}

#folds:before{
	content:"";
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: $loadlayer - 1;

	background-color:rgba($dark, 0);

	pointer-events:none;
	@include transitions($time-fast);
}