$time-slow: 2000ms;
$time-fast: 500ms;

$dim-progress:100px;
@mixin transitions($time){
-webkit-transition: all $time;
   -moz-transition: all $time;
	-ms-transition: all $time;
	 -o-transition: all $time;
		transition: all $time;
}

@mixin transitions-layer(){
/*transform*/
-webkit-transform:translateZ(0);
   -moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	 -o-transform:translateZ(0);
		transform:translateZ(0);
}

@mixin clip-tri(){

	-webkit-clip-path:polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
	-ms-clip-path:polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
	clip-path:polygon(50% 25%, 50% 25%, 50% 25%, 75% 75%, 50% 75%, 25% 75%);
	clip-path: url(../css/clip-tri.svg#svgClip);
}

@mixin clip-gem(){

	-webkit-clip-path:polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
		-ms-clip-path:polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
		    clip-path:polygon(37% 25%, 50% 15%, 63% 25%, 75% 75%, 50% 90%, 25% 75%);
	clip-path: url(../css/clip-gem.svg#svgClip);
}

@mixin clip-tri-inverted(){

	-webkit-clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
	-ms-clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
	clip-path:polygon(50% 75%, 50% 75%, 50% 75%, 75% 25%, 50% 25%, 25% 25%);
	clip-path: url(../css/clip-tri-inverted.svg#svgClip);
}

@mixin clip-gem-inverted(){
	-webkit-clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
		-ms-clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
			clip-path:polygon(37% 75%, 50% 85%, 63% 75%, 75% 25%, 50% 10%, 25% 25%);
	clip-path: url(../css/clip-gem-inverted.svg#svgClip);
}

@mixin clip-tri-unchanging(){

	-webkit-clip-path:polygon(0% 93.301270189%, 100% 93.301270189%, 50% 6.69872981%);
	-ms-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270%);
	clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270);

	clip-path: url(../css/clip-tri-full.svg#svgClip);
}

@mixin clip-tri-unchanging-inverted(){

	-webkit-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270189%);
	-ms-clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270%);
	clip-path:polygon(0% 6.69872981%, 100% 6.69872981%, 50% 93.301270);
	clip-path: url(../css/clip-tri-full-inverted.svg#svgClip);
}

$light: #CCCCCC;
$dark: #222222;

.pace{
	height:$dim-progress;
	width:$dim-progress;
	position:fixed;
	top:50%;
	left:50%;
	margin-left: - $dim-progress/2;
	margin-top: - $dim-progress/2;
	z-index:100;

	pointer-events:none;	
	@include clip-gem();
	@include transitions-layer;
	@include transitions($time-fast);


	-webkit-transition-property: -webkit-clip-path, background-color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s, 1.0s;
}

.pace-progress{

	position:absolute;
	left:0;
	top:0;
	right:0;

	height:100%;


	$time: $time-fast;
	-webkit-transition: opacity $time, width $time;
	   -moz-transition: opacity $time, width $time;
	    -ms-transition: opacity $time, width $time;
	     -o-transition: opacity $time, width $time;
	        transition: opacity $time, width $time;


	opacity:1;

	background-color: $light;

	-webkit-transition-delay: 2.0s 0s;


}

.pace-inactive{
	@include clip-gem();

	.pace-progress{
		opacity:0;
	}
}

body.intro, body.pace-running{

	#rut{
		height:100%;

		#titlehex{
			img, p{
				opacity:0;
			}
		}

		hr{
			width:0;
		}

		#barnav{
			opacity:0;
			bottom: -120px;
			zoom:110%;		}
	}

	&:before{
		background-color:rgba(20,20,20,1);
	}
}
